@model aspnetapp.Models.SalesPerson

@{
    ViewData["Title"] = "Edit";
}

@* Método Created Page SalesPerson Edit (Item 1F - Check) *@

<h1>Sale Person - Page Alteration</h1>

<h4>Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PutSalesPerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Information" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
